.checkoutcartContainer
{
    padding:1rem;
    margin-left: 20%;
    color:rgb(10, 35, 32);
    margin-right: 20%;
    align-items: center;
    justify-content: center;
    text-align: center;
   
    
}

.mycart
{
    font-family: 'Times New Roman', serif;
    font-size: 45px;
    font-weight: bold;
    font-style: normal;
    line-height: 1.6;
    text-align: left;

}

.mycart2
{
    margin-top: 2rem;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    font-weight:500;
    font-style: normal;
    line-height: 1.6;
    text-align: left;

}

.checkoutbox {
    display: flex;
    flex-direction: row; /* Stack elements vertically */
    align-items: center; /* Center elements horizontally */
    padding: 2%; /* Add padding as needed */
  }
  
  .checkoutimage {
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100px; /* Set the width of the image */
    height: 100px; /* Set the height of the image */
    /* Add other image styles as needed */
  }
  
  .checkouttext {
    margin-left: 30px;
    text-align: left;
  }
  
  .checkoutbuttons {
    display: flex;
    position: relative;
    margin-right: 10%;
    flex-direction: row-reverse; 
    align-items: center;
    justify-content: space-around;
  }
  
  .checkout-plus-button,
  .checkout-minus-button {
    padding: 5px;
    background-color: #383d42;
    border-radius: 50%;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-left: 1rem;
    margin-right: 1rem;
    width: 2rem;
    height: 2rem;
  }
  
  .checkout-plus-button:hover,
  .checkout-minus-button:hover {
    background-color: #17181a;
  }

.checkoutIcons
{
   width: 50%;
   margin-top: 4rem;
   display: flex;
   align-items: center;
   text-align: center;
}
.checkoutIconItem{
    cursor: pointer;
    background-color:#D8D8D8;
    outline: none;
    background-color: transparent;  
    align-items: center;
    text-align: center;
    justify-content: center;
}
.checkouttextop
{
    position: relative;
    text-align: left;
}
.checkoutitemtitle{
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    font-weight:500;
}
.checkoutitemrestaurant{
  color: rgb(117, 114, 114);
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
}
.checkoutprice{
  color: #333639;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
}