.rightbarcheckout
{
    top: 0px;
    flex:2;
    height: 100vh;
    padding:1rem;
    color:#0a2320;
    margin-left: 80%;
    display: 'flex';
    justify-content: 'flex-end';
    flex-direction: column;
    position:fixed;
    
}
.rightbarcheckoutIcons
{
   
  
   margin-top: 2rem;
   display: flex;
   /* justify-content: space-around; */
   align-items: center;
}
.rightbarcheckoutIconItem{

    position: relative;
    cursor: pointer;
    background-color:#D8D8D8;
    border-radius:100%;
    height: 3rem;
    width: 3rem;
    padding: 0.5rem;
    margin: 0 1.2rem;
    border-width: 0;
    outline: none;
   
}
.rightbarcheckoutIconbadge
{
    position: absolute;
    display: flex;
    height:15px;
    width: 15px;
    background-color: rgb(249, 4, 4);
    align-items:center;
    top:4px;
    right:4px;
    border-radius: 50%;
    font-size: 10px;
    justify-content: center;
   
}
.Carts{

    
    margin-top: 2rem;

}
::-webkit-scrollbar
{
   width: 5px;
}
::-webkit-scrollbar-track
{
   background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb
{
   background-color: rgb(179,179,179);
}
.cartHeading
{
    padding: 1rem 2rem;
}
.Carttitle
{
   font-weight: bold;
   margin-bottom:0.7rem;
}
.approxtime
{
    color: gray;
    font-size:0.7rem;
}
.dividecart
{
    margin: 1rem 1rem;
}

.checkoutbutton
{
    width: 15rem;
    margin: 1rem;
    height: 3rem;
    background-color:rgb(10, 35, 32);
    outline: none;
    border-width: 0;
    color: white;
    border-radius:2rem;
    font-size:1rem;
}

.rightbarcheckoutaddrbox {
    text-align: left;
    margin-top: 1rem;
    background-color: transparent;
    border: 1px solid #000000;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .rightbarcheckoutaddrbox h2 {
    font-size: 1.3rem;
  }
  
  .rightbarcheckoutaddrbox p {
    font-size: 1rem;
  }



.rightbarcheckoutpaybox {
    text-align: left;
    margin-top: 1rem;
    background-color: transparent;
    border: 1px solid #000000;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .rightbarcheckoutpaybox h2 {
    font-size: 1.3rem;
  }
  
  .rightbarcheckoutpaybox p {
    text-align: left;
    font-size: 1rem;
  }



.rightbarcheckoutorderbox {
    text-align: left;
    margin-top: 1rem;
    background-color: transparent;
    border: 1px solid #000000;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .rightbarcheckoutorderbox h2 {
    font-size: 1.3rem;
  }
  
  .rightbarcheckoutorderbox p {
    text-align: left;
    font-size: 1rem;
  }



.rightbarcheckoutDown
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}
.rightbarcheckoutplacingorder
{
    outline: none;
    color: white;
    border-radius: 0.8rem;
    width: 100%;
}
.rightbarcheckoutplacingorder:hover
{
    background-color:  rgb(82, 86, 95);
    width: 100%;
}